/build
local.properties
/.gradle/7.3.3/checksums/checksums.lock
/.gradle/
/.idea/libraries/Gradle__androidx_activity_activity_1_2_0_beta01_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_1_2_5_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_ktx_1_2_5_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_3_0_beta01.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_3_0_beta01_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_3_0_beta01_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_0_beta01_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_3_0_beta01_aar.xml
/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_1_0_beta01_aar.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_4_10.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_4_10.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_4_10.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_4_10.xml
/.idea/libraries/Gradle__org_koin_koin_android_2_2_1_aar.xml
/.idea/libraries/Gradle__org_koin_koin_androidx_scope_2_2_1_aar.xml
/.idea/libraries/Gradle__org_koin_koin_androidx_viewmodel_2_2_1_aar.xml
/.idea/libraries/Gradle__org_koin_koin_core_2_2_1.xml
