/build
local.properties
/.gradle/6.1.1/checksums/checksums.lock
/.gradle/
/.idea/libraries/Gradle__androidx_activity_activity_1_2_0_beta01_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_1_2_5_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_ktx_1_2_5_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_3_0_beta01.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_3_0_beta01_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_3_0_beta01_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_0_beta01_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_3_0_beta01_aar.xml
/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_1_0_beta01_aar.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_4_10.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_4_10.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_4_10.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_4_10.xml
/.idea/libraries/Gradle__org_koin_koin_android_2_2_1_aar.xml
/.idea/libraries/Gradle__org_koin_koin_androidx_scope_2_2_1_aar.xml
/.idea/libraries/Gradle__org_koin_koin_androidx_viewmodel_2_2_1_aar.xml
/.idea/libraries/Gradle__org_koin_koin_core_2_2_1.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/libraries/Gradle__androidx_activity_activity_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_activity_activity_ktx_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
/.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
/.idea/libraries/Gradle__androidx_collection_collection_ktx_1_1_0.xml
/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_0_rc1_aar.xml
/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_0_rc1.xml
/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_1_3_1_aar.xml
/.idea/libraries/Gradle__androidx_core_core_ktx_1_3_1_aar.xml
/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_1_2_1_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_ktx_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_2_0.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_extensions_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_ktx_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_process_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_ktx_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_service_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_common_2_2_1_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_common_ktx_2_2_1_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_fragment_2_2_1_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_fragment_ktx_2_2_1_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_runtime_2_2_1_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_runtime_ktx_2_2_1_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_ui_2_2_1_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_ui_ktx_2_2_1_aar.xml
/.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_transition_transition_1_0_1_aar.xml
/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_base_17_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_location_17_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_places_placereport_17_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_17_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_material_material_1_0_0_aar.xml
/.idea/libraries/Gradle__com_jakewharton_retrofit_retrofit2_kotlin_coroutines_adapter_0_9_2.xml
/.idea/libraries/Gradle__com_squareup_moshi_moshi_1_9_2.xml
/.idea/libraries/Gradle__com_squareup_moshi_moshi_adapters_1_9_2.xml
/.idea/libraries/Gradle__com_squareup_moshi_moshi_kotlin_1_9_2.xml
/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_14_7.xml
/.idea/libraries/Gradle__com_squareup_okio_okio_1_17_2.xml
/.idea/libraries/Gradle__com_squareup_retrofit2_converter_moshi_2_7_2.xml
/.idea/libraries/Gradle__com_squareup_retrofit2_retrofit_2_7_2.xml
/.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_reflect_1_3_50.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_4_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_4_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_72.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_3_9.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_jvm_1_3_9.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_serialization_runtime_0_14_0.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/render.experimental.xml
/.idea/modules/app/starter.app.androidTest.iml
/.idea/modules/app/starter.app.iml
/.idea/modules/app/starter.app.main.iml
/.idea/modules/app/starter.app.unitTest.iml
/.idea/modules/starter.iml
/.idea/vcs.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_72.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_72.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_3_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_1_3_0.xml
/.idea/navEditor.xml
